<h3>Welcome <%= current_user.name %></h3>

<p>Current Role: 
<% if current_user.role.downcase == 'admin' %>
	<span class="label label-success">Admin</span>
<% else %>
	<span class="label label-default">User</span>
<% end %>
</p>

<p>Total Hours Allocated: <%= @total_hours.to_i %>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
<p><%= link_to 'Projects:', projects_path %> <%= Project.count %> projects</p>
<p><%= link_to 'Allocations:', allocations_path %> <%= Allocation.count %> Allocations</p>


