<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @user_group.title %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @user_group.rate %>
</p>

<%= link_to 'Edit', edit_user_group_path(@user_group) %> |
<%= link_to 'Back', user_groups_path %>
