<td>
	<% if user.role == 'admin' %>
		<span class="label label-success">Admin</span>
	<% end %>
	<%= user.first_name %> <%= user.last_name %>

</td>
<td>
	<%= user.email %>
</td>

<td>
<% if(user.user_group) %>
  <%= user.user_group.title %>
<% end %>
</td>

<td>
  <%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs') unless user == current_user %>
</td>
