<div class="container">
  <div class="row">
    
    <div class="col-sm-7">
    <h3>Users</h3>
      <table class="table">
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-sm-5">
    	<h4>New User</h4>
	    <%= simple_form_for(@new_user, html: {class:'form-horizontal'}) do |f| %>
			
	    	<%= f.input :first_name %>
	    	<%= f.input :last_name %>
	    	<%= f.input :email %>
	    	<%= f.button :submit %>
	    <% end %>
    </div>
    
  </div>
</div>
