
<% if(!current_user.subscription) %>
	<% @subscription_types.each do |s| %>
		<%= link_to "New "+s.title+" Subscription", new_subscription_path(:plan => s.id) %>: $<%= s.price %>.00<br />
	<% end %>
<% else %>
	<h2>Current Subscription</h2>
	<p><%= current_user.subscription.subscription_type.title %>: $<%= current_user.subscription.subscription_type.price %></p>
	<p><%= link_to "Remove Subscription", @subscription, :method => :delete %>
<% end %>
</ul>