<div class="container">
<h1>New <%= @subscription_type.title %> Subscription</h1>

<% @subscription.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
<% end %>
<div class="well">
	<div><%= raw @subscription_type.description %></div>
	<% if @subscription_type.price > 0 %>
	<p>Price: $<%= @subscription_type.price %>.00/Month</p>
	<% end %>
	
</div>

<%= render :partial => "subscriptions/form" , :locals => {:subscription_id => @subscription_type.id} %>
</div>