<% if @user.errors.any? %>
    <div class="alert alert-block">
        <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= simple_form_for @account, :html => { :role => 'form'} do |f| %>
  <%= f.error_notification %>

	  <div class="form-group">
	    <%= f.input :title, :autofocus => true, class: 'form-control'%>
	  </div>
  
	  <%= simple_fields_for(:user) do |u| %>
	  <%= u.error_notification %>
	  	<div class="form-group">
	  		<%= u.input :email, class: 'form-control' %>
	  	</div>
	  	<div class="form-group">
	  		<%= u.input :first_name, class: 'form-control' %>
	  	</div>
	  	<div class="form-group">
	  		<%= u.input :last_name, class: 'form-control' %>
	  	</div>
	  	<div class="form-group">
	  		<%= u.input :password, class: 'form-control' %>
	  	</div>
	  	<div class="form-group">
	  		<%= u.input :password_confirmation, class: 'form-control' %>
	  	</div>
	  <% end %>

	  <div class="form-actions">
	    <%= f.button :submit, :class=> "btn btn-primary" %>
	  </div>
</div>
<% end %>
